@{
    ViewData["Title"] = "30 Seconds";
}

<div class="words" data-id="words">
    
</div>
<div class="timer" data-id="timer">

</div>
<div class="buttons">
    <input type="button" data-trigger="new-round" class="btn btn-primary" value="Start ronde" />
</div>